# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache
env/
.env/
.venv/
venv/
/venv
*.egg-info

# Dependencies
/node_modules
/frontend/node_modules

# Environment variables
.env

# Database
*.sqlite
*.db

# Static and media files (if applicable, adjust as needed)
/static/
/media/

# Logs
*.log

# IDEs and OS
.idea/
*.swp
.DS_Store
Thumbs.db

#Dist
dist/
build/
